*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-color:#131921;
    --accent-light-color:#232f3e;
    --primary-text-color:#000;
    --secondary-text-color:#fff;
    --secondary-text-dark-color:#cccccc;
    --search-btn-bg:#febd69;
    --inline-padding:0 12px 0 12px;
    --common-padding:15px;
    --link-color:#007185;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--secondary-text-dark-color);
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.3rem;
}
a{
    text-decoration: none;
}

/* p{
    font-size: 1rem;
} */

/* utility classes */
.container{
    max-width: 1480px;
    margin-inline: auto;
    padding: var(--inline-padding);
}

.flex{
    display: flex;
    align-items: center;
}

.nav-height{
    height: 60px;
    width: auto;
}

.con-box{
    height: auto;
    width: auto;
    padding: 5px;
}
.con-box:hover{
    border: 1px solid var(--secondary-text-color);
}
.hover:hover{
    border: 2px solid var(--search-btn-bg);
    transition: .3 ease-in;
}
.search-box{
    height: 50px;
}
.icon{
    color: var(--secondary-text-color);
}
.icon-size{
    font-size: 100px;
}
.arrow-icon{
    color: var(--secondary-text-dark-color);
}
.line1{
    color: var(--secondary-text-dark-color);
    font-size: 12px;
}
.line2{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 700;
}
.line3{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 500;
}
.gap{
    gap: 1px;
}
.gap-box{
    gap: 10px;
}
.arrow-box{
    height: 295px;
    width: 80px;
    justify-content: center;
}
.arrow-box:hover{
    border: 2px solid var(--accent-color);
}
.box{
    height: 420px;
    width: calc(25% - 13px);
    background-color: var(--secondary-text-color);
    padding: 20px;
}
.pBox{
    height: 120px;
    width: 152px;
    cursor: pointer;
}
.link {
    font-size: 13px;
    color: var(--link-color);
    justify-content: center;
    align-items: center;
}
.link:hover{
    text-decoration:underline;
    cursor: pointer;
}
.link-deals{
    font-size: 14px;
}
.rImg{
    max-height: 167px;
    max-width: 200px;
    margin: auto;
    background-color: #ff0000;
    mix-blend-mode:darken;
}
/* header css*/

    .nav-up{
        background-color: var(--accent-color);
    }

    .nav-up .nav-up-container{
        justify-content: space-between;
    }

    .nav-up .nav-up-container .nav-fill  {
        width: 50%;
        margin: 10px 10px 10px 10px;
        border-radius: 5px;
    }
    .nav-up .nav-up-container .nav-fill  .nav-fill-form {
        width: 100%;
        background-color: white;
        justify-content: space-between;
        border-radius: 5px 5px 5px 5px;
    }
    .nav-search-left{
        padding: 10px;
        justify-content: center;
        background-color: var(--secondary-text-dark-color);
        border-radius: 5px 0 0 5px;
    }
    .nav-search-fill{
        width: 100%;
        background-color: var(--secondary-text-color);
    }
    .nav-search-fill input{
        width: 100%;
        background-color: var(--secondary-text-color);
        border: none;
        outline: none;
        padding: 0 5px 0 5px;
        font-size: 15px;
    }
    .nav-search-right{
        padding: 10px;
        justify-content: center;
        background-color: var(--search-btn-bg);
        border-radius: 0 5px 5px 0;
    }

    .nav-search-right .searh-icon{
        color: var(--accent-light-color);
        font-size: 30px;
        font-weight: 500;
    }

    #nav-below{
        height: 40px;
        background-color: var(--accent-light-color);
    }

    .nav-below .nav-below-container .nav-below-fill{
        justify-content: space-evenly;
        width: 60%;
        cursor: pointer;
    }

    .nav-below .nav-below-container .nav-below-right{
        width: 40%;
        justify-content: flex-end;
    }



/* main content section */

.flexs{
    position: relative;
    flex-direction: column;
}

.flexs .hero-container{
    background-image: url(banner-image/img3.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.flexs .hero-container .above-container{
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
}


/* grid section */
.flexs .product-container {
    flex-direction: column;
    position: absolute;
    gap: 17px;
    top: 320px;
}

.flexs .product-container .grid-section{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px;
}



.flexs .product-container .grid-section 
.product-box-container .productList{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    overflow: hidden;
    margin: 7px 0 7px 0;
}
.flexs .product-container .grid-section 
.product-box-container .productList 
.product-con{
    width: calc(50% - 10px);
}
.flexs .product-container .grid-section 
.product-box-container .productList 
.product-con .product-title{
    padding: 5px 0 0 0;
    color: var(--accent-light-color);
    font-size: 12px;
}

/* row special section */
.row-special-section{
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-text-color);
}


.row-special-section .row-container .rc-above{
    gap: 10px;
}


.a-list-item .a-link-normal{
    max-width: 160px;
}

.r-product-container {
    height: 210px;
    width: 245px;
    background-color: #f7f8f8;
    align-items: center;
    justify-content: center;
}

.rc-middle{
    margin-top: 11px;
}

.rc-middle .row-product-container{
    gap: 10px;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    
}

.rc-middle .row-product-container .arrow-btn{
    background-color: var(--secondary-text-color);
    position: absolute;
    height: 100px;
    width: 45px;
    justify-content: center;
    box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
    z-index: 1;
}
.ab-left{
    left: 0;
    border-radius: 0 4px 4px 0;
}
.ab-right{
    right: 0;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}

.offer-container{
    gap: 4px;
    padding-top: 9px;
    flex-direction: column;
    
}
.offer-btn-text{
    background-color: #cc0c39;
    color: #fff;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
}
.text2{
    font-size: 12px;
    font-weight: 700;
    color: #cc0c39;
}
.text3{
    font-size: 13px;
    padding-top: 9px;
    color: #0f1111;
}

.rc-below .feed-scrollbar{
    height: 6px;
    margin-top: 14px;
    position: relative;
}
.rc-below .feed-scrollbar .feed-scrollbar-track{
    background-color: #ccc;
    height: 6px;
    width: 30%;
    border-radius: 15px;
    position: absolute;
}

/* another special row section */
.arp-container{
    overflow: hidden;
    position: relative;
    background-color: transparent;
    gap: 0;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
}
.sImg{
    justify-content: left;
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
}